In [10]:
import pandas as pd
import os
os.chdir("C:\\Users\\zaid0\\Documents\\R\\CM121")

In [12]:
df = pd.read_table("HW1\\Data\\reads.tsv", sep = "\t")
df

    observations  probability_of_error  error_truth
0              A              0.125650        False
1              T              0.092379        False
2              A              0.196982        False
3              T              0.063769        False
4              T              0.163563         True
..           ...                   ...          ...
995            A              0.037062        False
996            A              0.027094        False
997            A              0.146039        False
998            T              0.170114         True
999            T              0.038950        False

[1000 rows x 3 columns]